.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.navbar {
  background: #acdced !important;
}

a {
  color: #17205d !important;
}

a:hover {
  color: #888888;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
