.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

::ng-deep .customClass > a {
  color: #17205d;
}

.form-control:focus {
  border-color: #acdced;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
}
